<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Book</title>
</head>
<body>
    <h1>Issue Book</h1>
    <form action="/issue_book" method="post">
        <label for="title">Book title</title>:</label>
        <input type="text" id="title" name="title" required><br>


        <label for="borrower_name">Borrower Name:</label>
        <input type="text" id="borrower_name" name="borrower_name" required><br>


        <!-- <label for="borrowed_by">Borrowed By:</label>
        <input type="text" id="borrowed_by" name="borrowed_by" required><br> -->

        <label for="return_date">Return Date:</label>
        <input type="date" id="return_date" name="return_date" required><br>

        <button type="submit">Issue Book</button>
    </form>
</body>
</html>
